/* ================= FONTS ================= */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  src: local("Gilroy Regular"),
       local("Gilroy-Regular"),
       url("../fonts/Gilroy-Regular.woff2") format("woff2"), 
       url("./fonts/Gilroy-Regular.woff") format("woff"), 
       url("./fonts/Gilroy-Regular.eot")  format("eot");
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: normal;
  src: local("Gilroy Medium"),
       local("Gilroy-Medium"),
       url("./fonts/Gilroy-Medium.woff2") format("woff2"), 
       url("./fonts/Gilroy-Medium.woff") format("woff"), 
       url("./fonts/Gilroy-Medium.eot")  format("eot");
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  font-weight: 600;
  font-style: normal;
  src: local("Gilroy Semibold"),
       local("Gilroy-Semibold"),
       url("./fonts/Gilroy-Semibold.woff2") format("woff2"), 
       url("./fonts/Gilroy-Semibold.woff") format("woff"), 
       url("./fonts/Gilroy-Semibold.eot")  format("eot");
  font-display: swap;
}


@font-face {
  font-family: Gilroy;
  font-weight: 700;
  font-style: normal;
  src: local("Gilroy Bold"),
       local("Gilroy-Bold"),
       url("./fonts/Gilroy-Bold.woff2") format("woff2"), 
       url("./fonts/Gilroy-Bold.woff") format("woff"), 
       url("./fonts/Gilroy-Bold.eot")  format("eot");
  font-display: swap;
}

@font-face {
  font-family: "BN Chester Regular";
  font-weight: 400;
  font-style: normal;
  src: local("BN Chester Regular"),
       local("BN Chester-Regular"),
       url("./fonts/BN\ Chester\ Regular.woff2") format("woff2"), 
       url("./fonts/BN\ Chester\ Regular.woff") format("woff"), 
       url("./fonts/BN\ Chester\ Regular.eot")  format("eot");
  font-display: swap;
}


/* ================= VARIABLES CSS ================= */
:root {

  /* colors */
  --black-1:#000;
  --black-2: #161616;
  --black-3: #3D3737;
  --black-4: #2B2B2B;
  --black-5: #505050;
  --black-6: #1D1D1D;

  --gold: #D3A265;

  --grey-1: #F3F3F3;
  --grey-2: #C4C4C4;
  --white: #FFF;

  --red: #D24F0B;


  /* fonts */
  --titleFont:'BN Chester Regular', serif;
  --textFont: 'Gilroy', serif;

  /* rest of the vars*/
  --transition: all 0.3s ease-in-out;
  --linkTransition: all 0.2s linear;
  --z-fixed: 100;

}

/* ================= BASE ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  font-family: var(--textFont);
  font-size: 16px;
  font-weight: 400;
  color: var(--black-1);
}

h1, h2, h3 {
  line-height: 0.98;
  font-family: var(--titleFont);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


/* ================= REUSABLE CSS CLASSES ================= */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*="__container"]{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;  
}

.btn {
  height: 44px;
  padding: 0 43px;
  display: inline-block;
  font-weight: 700;
  color: var(--black-1);
  text-transform: uppercase;
  background: transparent;
  border: 2.5px solid var(--gold);
  border-radius: 8px;
  line-height: 1.25;
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.section--grey {
  background-color: var(--grey-1);
}

section {
  padding: 80px 0;
}

.section__title {
  font-size: 40px;
  font-weight: 400;
  color: var(--black-1);
}

.section__title span {
  color: var(--gold);
}

.center {
  text-align: center;
}

.open {
  display: flex !important;
}

@media screen and (max-width: 1200px) {
  [class*="__container"] {
    max-width: 1070px;
  }
}

@media screen and (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 850px;
  }
}

@media screen and (max-width: 767.98px) {
  [class*="__container"] {
    padding: 0 30px;
    max-width: none;
  }

  .section__title {
    font-size: 32px;
  }
}

/* ========================= Header ========================= */ 
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
}

.header__container {
  min-height: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 68px;
}

.menu {
  margin-right: auto;
}

.menu__list {
  display: flex;
  gap: 45px;
  justify-content: flex-end;
}

.menu__link,
.contact__link {
  line-height: 1.2;
  color: var(--black-2);
  transition: var(--linkTransition);
}

.menu__link:hover,
.contact__link:hover,
.lang:hover
 {
  color: var(--gold);
}

.contact__list {
  display: flex;
  gap: 55px;
  justify-content: flex-end;
}

/* burger */
.burger {
  position: relative;
  display: none;
  justify-content: flex-end;
  align-items: center;
  z-index: var(--z-fixed);
  width: 35px;
  height: 30px;
}

.burger span {
  height: 2px;
  width: 100%;
  background: #212121;
  transform: scale(1);
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 54%;
  background: #212121;
  transition: var(--transition);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
  left: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0%, -50%);
}

.burger.active::after {
  bottom: 50%;
  left: 50%;
  transform: rotate(45deg) translate(0%, 50%);
}

/* hide the arrow and add new */
.lang {
  border: none;
  outline: 0;
  background: transparent;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select:not([multiple]) {
  padding-right: 1.3em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em) 0.35em;
  background-size: 0.85em auto;
  background-image: url("/img/arrow.svg");
}

select::-ms-expand {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }

  .header__logo {
    margin-right: 35px;
  }

  .menu__list,
  .contact__list  {
    gap: 24.5px;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    background: var(--white);
  }

  .burger {
    display: flex;
  }

  .menu__body {
    flex-direction: column;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 80px 15px 30px 15px;
    z-index: var(--z-fixed);
    overflow-y: auto;
    background: var(--grey-1);
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
  }

  .contact {
    display: none;
  }
}

/* ========================= Hero =========================  */ 
.hero {
  padding: 0;
  overflow: hidden;
}

.hero__content {
  flex: 0 0 100%;
}

.hero__img img {
  max-width: 100%;
}

.hero__body {
  padding: 114px 0 32px;
}

.hero__title {
  margin-bottom: 41px;
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 48px;
  color: var(--black-3);
  letter-spacing: 0.02em;
}

.hero__text {
  margin-bottom: 41px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black-4);
}

.btn--hero {
  display: block;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .hero {
    padding: 0;
    display: flex;
    column-gap: 30px;
  }

  .hero__content{
   margin-top: 101px;
  }

  .hero__body {
    padding: 140px 0 200px;
    width: 50%;
  }

  .hero__title {
    max-width: 480px;
    margin-bottom: 60px;
    font-size: 66px;
  }

  .hero__text {
    max-width: 431px;
    margin-bottom: 48px;
  }
  
  .hero__img {
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0);
  }

  .hero__img img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }   

  .btn--hero {
    width: inherit;
  }
}

/* ========================= ABOUT =========================  */ 
.about {
  padding: 71px 0;
}


.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__text {
  line-height: 1.7;
  max-width: 570px;
}


@media screen and (max-width: 767.98px) {
  .about {
    padding: 58px 0 37px 0;
  }

  .about__container {
    flex-direction: column;
  }

  .about__container h2 {
    margin: 0 auto 28px 0;
  }

  summary[hidden] {
    display: block;
  }

  summary {
    position: relative;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 78px;
    border: 1px solid #D3A265;
  }
}
/* ========================= Services =========================  */ 
.services__list {
  margin: 113px 0 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services__img {
  width: 84px;
  height: 84px;
  margin: 0 auto 56px;
}

.services__info {
  max-width: 274px;
  text-align: center;
  line-height: 1.2;
}

.services__title {
  margin-bottom: 19px;
  font-weight: 600;
  text-transform: uppercase;
  transition: var(--linkTransition);
}

.services__title:hover {
  border-bottom: 2px solid var(--gold);
  cursor: pointer;
}

/* ========================= Portfolio =========================  */ 
.portfolio__list {
  margin: 85px 0 29px;
  display: flex;
  justify-content: space-between;
  color: var(--black-2);
}

.portfolio__link {
  font-weight: 600;
  text-decoration: underline;
}

.portfolio__type:hover,
.portfolio__link:hover  {
  color: var(--gold);
}

.portfolio__types {
  display: flex;
  gap: 60px;
  cursor: pointer;
}

.portfolio__gallery {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 30px;
}

/* ========================= Pricing=========================  */ 
.pricing__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.pricing__item {
  width: 270px;
  padding: 32px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black-1);
  border: 2px solid var(--gold);
  height: auto;
  transition: var(--transition);
}

.pricing__item:hover {
  box-shadow: 0 20px 25px 5px rgba(33, 20, 106, 0.1);
  transform: scale(1.1);
}

.pricing__title {
  margin-bottom: 30px;
  font-family: var(--titleFont);
  font-size: 24px;
}
.pricing__data {
  font-family: var(--titleFont);
}

.pricing__data::after{
  content: '';
  display: inline-block;
  width: 194px;
  height: 0px;
  border: 1px solid #DCD1BB;
}

.price {
  margin-bottom: 7px;
  font-size: 44px;
}

.time {
  margin-bottom: 32px;
  color: var(--black-6);
}
.pricing__text {
  padding: 25px 52px 58px;
  font-size: 15px;
  line-height: 1.8;
}

.btn--pricing {
  display: flex;
  align-items: center;
  padding: 12px 34px;
  font-weight: 600;
  line-height: 1.8;
  background-color: var(--white);
  color: var(--black-2);
  transform: none;
}

.btn--white {
  background-color: var(--white);
  color: var(--black-1);
  border: none;
}

.pricing__item--gold {
  background-color: var(--gold);
  color: var(--white);
}

.pricing__item--gold .time {
  color: var(--white);
}

/* ========================= Reviews =========================  */ 
.reviews__cards {
  margin: 87px 0 42px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  width: 570px;
  background-color: white;
  position: relative;
}

.card::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #DCD1BB;
  position: absolute;
  top: 141px;
  left: 0;
  z-index: 1;
}

.card__header {
  margin-top: 36px;
  display: flex;
  align-items: center;
}

.social__links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card__img {
  margin: 0 35px 0 91px;
  width: 172px;
  height: 172px;
  z-index: var(--z-fixed);
} 

.card__info {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.card__info-name {
  margin-bottom: 7px;
  color: var(--black-2);
}

.card__info-position {
  margin-bottom: 45px;
  color:  #B5B5B5;
}

.card__text {
  margin: 30px 70px 36px 100px;
  line-height: 1.7;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.dot {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #DFDFDF;
}

.dot--active {
  background-color: var(--gold);
}

/* ========================= Questions =========================  */ 
.questions__field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 377px;
}

.btn--questions {
  margin-right: auto;
  text-transform: uppercase;
}

.title {
  margin-left: auto;
}

/* ========================= Footer =========================  */ 
.footer {
  padding: 99px 0 90px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.info__text {
  margin-top: 50px;
  margin-bottom: 96px;
  width: 300px;
  line-height: 1.5;
}

.footer__title {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
}

.nav__item {
  margin-bottom: 20px;
}

.nav__link {
  font-size: 14px;
  line-height: 1.2;
  transition: var(--linkTransition);
}

.nav__link:hover {
  color: var(--gold);
}

.nav__item:last-child {
  margin-bottom: 51px;
}

.contact__item {
  margin-bottom: 48px;
}

.contact__item:last-child {
  margin-bottom: 0;
}

.contact__title {
  margin-bottom: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #878787;
  line-height: 1.5;
}

.contact__text {
  font-size: 14px;
}

/* ========================= Media =========================  */ 
@media screen (and min-width: 360px) {
  
}